.header {
  display: flex;
  align-items: center;
  padding: 0 1.5rem;

  .back {
    margin-right: 1rem;
    display: flex;
    align-items: center;
  }

  &__title {
    font-family: Nunito, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 41px;
    color: #3B3D73;

    &--center {
      margin: auto;
      text-align: center;
    }
  }
}
