.form-title {
  font-family: Nunito Bold, sans-serif;
  color: #F79A6F;
  font-size: 24px;
}

.form-ins {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  &>div {
    display: flex;
    gap: 1rem;

    & input {
      width: 35%;
    }
  }
}
