@mixin card() {
    background-color: #f4f4f4;
    padding: 1rem;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.15);
}

@mixin button($round: false, $color: #f79a6f, $width: 220px) {
    $border: 13px;
    @if round == true {
      $border: 23px;
    }

    background-color: $color;
    border: 0;
    font-size: 1.2rem;
    color: white;
    width: $width;
    min-width: fit-content;
    max-width: 100vw;
    padding: 1rem 1.5rem;
    border-radius: $border;
    text-decoration: none;
    text-align: center;
}
